<section
  class="container py-24 text-center flex flex-col justify-center items-center gap-8 bg-gray-100 rounded-xl"
>
  <p class="text-3xl font-medium max-w-xl">
    Have a project idea in mind? Let's chat about how we can bring it to life!
  </p>
  <button class="btn">Book a short call</button>
</section>
