<section
  id="contact"
  class="container py-24 text-center flex flex-col justify-center items-center gap-8 bg-gray-100 rounded-xl"
>
  <h5 class="text-2xl lg:text-3xl font-medium max-w-xl">
    Have a project idea in mind?
  </h5>

  <p class="text-muted max-w-xl">
    Whether it's a full-blown app, a sleek website, or just a napkin sketch and
    a dream - I'm all ears. Drop a line at <a
      href="mailto:jintudas047@gmail.com"
      class="underline font-semibold">jintudas047@gmail.com</a
    >, and let's turn your 'what ifs' into real, working pixels.
  </p>
  <button class="btn">Book a short call</button>
</section>
