---
const currentYear = new Date().getFullYear();
---

<footer class="container text-center pt-18 pb-8">
  <p class="font-medium text-sm text-muted">
    © {currentYear} · Crafted with ♥️ using <a
      href="https://astro.build/"
      target="_blank">Astro</a
    >.
  </p>
</footer>
