---
const currentYear = new Date().getFullYear();
---

<section class="container text-center py-8">
  <p class="font-medium text-muted">
    © {currentYear} · Crafted with ♥️ using <a
      href="https://astro.build/"
      target="_blank">Astro</a
    > by Jintu.
  </p>
</section>
