<header class="container py-6">
  <nav class="flex items-center justify-between gap-2">
    <a
      href="/"
      class="text-lg rounded-lg font-bold font-mono bg-midnight text-white size-9 grid place-content-center"
      >J</a
    >

    <a href="#contact" class="btn">Contact Me</a>
  </nav>
</header>
