<header class="container py-6">
  <nav class="flex items-center justify-between gap-2">
    <a
      href="/"
      class="text-lg rounded-lg font-bold font-mono bg-midnight text-white size-9 grid place-content-center"
      >J</a
    >

    <!-- <a href="#contact" class="btn">Contact Me</a> -->
    <p class="text-sm flex items-center gap-2 justify-start text-muted">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="9"
        height="9"
        viewBox="0 0 24 24"
        fill="oklch(84.1% 0.238 128.85)"
        stroke="oklch(84.1% 0.238 128.85)"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="lucide lucide-circle-icon lucide-circle"
        ><circle cx="12" cy="12" r="10"></circle></svg
      > Available for work
    </p>
  </nav>
</header>
