---
import { Image } from "astro:assets";
import heroImage from "../assets/jintu.png";
---

<section class="container text-center pt-18 lg:pt-24">
  <h1 class="text-4xl lg:text-6xl text-midnight font-semibold lg:leading-16">
    Hello, I'm Jintu <Image
      loading="eager"
      width={72}
      height={72}
      class="size-16 lg:size-18 inline aspect-square bg-cover rounded-sm"
      alt="Jintu Das"
      src={heroImage}
    />,
    <br />
    <span class="text-muted font-light"> software engineer. </span>
  </h1>

  <p class="text-base lg:text-lg text-muted pt-6 text-balance">
    I build meaningful digital stuff - sometimes with startups, sometimes with
    big brands - always with too much coffee and too many tabs open.
  </p>

  <div
    class="flex flex-col lg:flex-row justify-stretch lg:justify-center lg:items-center gap-4 mt-8"
  >
    <a href="#projects" class="btn-outline">See Projects</a>
    <a href="#contact" class="btn">Contact Me</a>
  </div>
</section>
