---
import { Image } from "astro:assets";
---

<section class="container py-24 text-center">
  <h1 class="text-6xl text-midnight font-medium leading-16">
    Hi, I'm Jintu <Image
      width={60}
      height={60}
      class="inline aspect-square bg-cover rounded-xs -mt-3"
      alt="Jintu Das"
      src="https://images.unsplash.com/photo-1567324216289-97cc4134f626?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    />,
    <br />
    <span class="text-muted font-light italic"> software engineer. </span>
  </h1>

  <p class="text-lg text-muted pt-6 text-balance">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius temporibus
    nesciunt officiis labore similique,
  </p>

  <a href=""></a>
</section>
