---
import Project from "./cards/project.astro";
import contentCraft from "../assets/contentcraft.png";
import socialdoc from "../assets/socialdoc.png";
import theeditingagency from "../assets/theeditingagency.png";

const PROJECTS_DATA = [
  {
    title: "Content Craft",
    description:
      "Content Craft is a professional video editing agency that transforms raw footage into stunning, high-quality videos. We specialize in cinematic storytelling, corporate videos, social media content, and more.",
    thumbnail: contentCraft,
    link: "https://contentcraft.co.in/",
  },
  {
    title: "Social Doc",
    description:
      "Social Doc is a YouTube Management company helping brands grow their social presence to build business. It is a one-stop solution for all your Social presence.",
    thumbnail: socialdoc,
    link: "https://www.socialdoc.in/",
  },
  {
    title: "The Editing Agency",
    description:
      "We help creators and businesses grow with engaging video editing for YouTube, social media, and Instagram Reels. Whether you want more views, better engagement, or viral content—we’ve got you covered!",
    thumbnail: theeditingagency,
    link: "https://theeditingagency.com/",
  },
];
---

<section class="container scroll-mt-4" id="projects">
  <h2 class="medium-header">Featured Projects</h2>

  <div class="grid grid-cols-1 md:grid-cols-2 grid-flow-row gap-6 pt-8">
    {
      PROJECTS_DATA.map((project) => (
        <Project
          thumbnail={project.thumbnail}
          title={project.title}
          link={project.link}
          description={project.description}
        />
      ))
    }
  </div>
</section>
