---
import Stack from "./cards/stack.astro";

const STACKS = [
  "JavaScript",
  "TypeScript",
  "HTML",
  "CSS",
  "React",
  "Next.js",
  "Astro",
  "Node",
  "Express",
  "MongoDB",
  "PostgreSQL",
  "Github",
  "Framer",
  "Wordpress",
  "Webflow",
];
---

<section class="container">
  <h4 class="medium-header">Stacks</h4>

  <div class="flex justify-start items-center flex-wrap gap-4 pt-8">
    {STACKS.map((stack) => <Stack title={stack} />)}
  </div>
</section>
