---
import Stack from "./cards/stack.astro";
---

<section class="container">
  <h4 class="medium-header">Stacks</h4>

  <div class="flex justify-start items-center flex-wrap gap-4 pt-8">
    <Stack />
    <Stack />
    <Stack />
    <Stack />
    <Stack />
    <Stack />
    <Stack />
    <Stack />
    <Stack />
    <Stack />
  </div>
</section>
