---
import { Image } from "astro:assets";
import MriduImage from "../assets/mridu.jpg";
---

<section
  class="text-center container flex flex-col justify-center items-center gap-8"
>
  <Image
    src={MriduImage}
    alt="Mridu Pawan Gautam"
    class="rounded-xl w-28 h-28 object-cover"
    width={112}
    height={112}
    loading="lazy"
  />

  <p class="max-w-2xl text-lg text-gray-600 font-medium text-balance">
    "We have worked with Jintu on multiple projects, and the way he handles all
    projects is extremely professional. He doesn't shy away from feedback and
    revisions. I can confidently commend Jintu as a great developer who will
    always try his hardest to turn your vision into reality."
  </p>

  <div>
    <p class="font-medium">Mridu Pawan Gautam</p>
    <p class="text-sm text-muted">Co-Founder of Social Doc</p>
  </div>
</section>
