<section
  class="text-center container flex flex-col justify-center items-center gap-6"
>
  <div class="size-28 rounded-xl bg-slate-400 animate-pulse"></div>

  <p class="max-w-lg text-muted">
    Partnering with Yohji was a game-changer. Instead of drowning in an endless
    chain of emails, there is clear and easy accountability meaning tasks
    actually get done!
  </p>

  <div>
    <p class="font-medium">Mario A.</p>
    <p class="text-sm text-muted">Head of Product at Apex</p>
  </div>
</section>
