---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import "../styles/global.css";
import "@fontsource-variable/inter";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body class="antialiased text-midnight font-inter bg-[#fafafa] min-w-dvh">
    <Header />
    <main class="space-y-24">
      <slot />
    </main>
    <Footer />
  </body>
</html>
